<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org/" >
<link rel="stylesheet" type="text/css" th:href="@{css/MyAssessments.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/OrganizationDetails.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

</html>