<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org/" >
<!--<link rel="stylesheet" type="text/css" th:href="@{css/MyAssessments.css}">-->
<link rel="stylesheet" type="text/css" th:href="@{css/OrganizationDetails.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
<!--<link rel="stylesheet" type="text/css" th:href="@{css/login.css}">-->
<!--<link rel="stylesheet" type="text/css" th:href="@{css/index.css}">-->

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</html>