<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org/" >
<head>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <li><a href="/landingpage">Home</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="#">Change Password</a></li>
    <li><a href="/login">Logout</a></li>
</nav>
<!--    <ul class="menu">-->
<!--        <li><a href="/MyAssessments">My Assessment</a></li>-->
<!--&lt;!&ndash;        <li><a href="/assessment">Assessment</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li><a href="/Results">Results</a></li>&ndash;&gt;-->
<!--        <li><a href="/login">Logout</a></li>-->
<!--    </ul>-->
</body>
</html>