<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta charset="UTF-8">
    <title>Assessment</title>
    <th:block th:include="layout/css"></th:block>
    <th:block th:include="layout/js"></th:block>
</head>
<body>
<!----------------- MENU ------------------->
<th:block th:include="layout/menu"></th:block>
<!----------------- MENU ------------------->
<br><br>
<div class="container">
    <section id="accordion">
        <div class="row">
            <div class="col-sm-12">
                <div id="accordionWrapa1" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Robust Data Backup (DB)</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Be prepared to recover gracefully from an incident. Employ a backup solution that
                                automatically and continuously backs up your business-critical data and system
                                configurations. Ensure the backed-up data is stored securely (encrypted) offsite or in the
                                cloud and allows for at least 30 days of rollback. Periodically test your ability to recover data
                                from backup.</p>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                            DB:B.Q01
                                        </button>
                                    </h2>
                                    <div id="accordionOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="card-header accordion-body">
                                            <div><strong>Are important systems and data backed up daily to an offsite location with the
                                                ability to restore multiple versions back at least 30 days?</strong></div>
                                              <div><button class="btn btn-success">Yes</button><button class="btn btn-danger">No</button></div>
                                        </div>
                                        <div class="accent-footer">
                                            <p>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Supplemental_Guidance"
                                                        aria-expanded="false" aria-controls="Supplemental_Guidance">
                                                    Supplemental Guidance
                                                </button>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" href="#Comment" aria-expanded="false"
                                                        aria-controls="Comment">
                                                    Comment
                                                </button>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#avatar"
                                                        aria-expanded="false" aria-controls="avatar">
                                                    Artifact / Document Title
                                                </button>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                                                        aria-expanded="false" aria-controls="collapseExample">
                                                    References
                                                </button>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                                                        aria-expanded="false" aria-controls="collapseExample">
                                                    Feedback
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                            DB:B.Q02
                                        </button>
                                    </h2>
                                    <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="card-header accordion-body">
                                           <div><strong>Are data backups tested annually?</strong> </div>
                                           <div><button class="btn btn-success">Yes</button><button class="btn btn-danger">No</button></div>
                                        </div>
                                        <div class="accent-footer">
                                            <p>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Supplemental_Guidance"
                                                        aria-expanded="false" aria-controls="Supplemental_Guidance">
                                                    Supplemental Guidance
                                                </button>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" href="#Comment" aria-expanded="false"
                                                        aria-controls="Comment">
                                                    Comment
                                                </button>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#avatar"
                                                        aria-expanded="false" aria-controls="avatar">
                                                    Artifact / Document Title
                                                </button>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                                                        aria-expanded="false" aria-controls="collapseExample">
                                                    References
                                                </button>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                                                        aria-expanded="false" aria-controls="collapseExample">
                                                    Feedback
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button class="btn btn-primary" onclick="document.location='/Results'">Next</button>
</div>
</body><br><br>
<br><br>
</html>