<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="layout/css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/changepassword.css}">
</head>
<body>
<!----------------- MENU ------------------->
<th:block th:include="layout/menu"></th:block>
<!----------------- MENU ------------------->
<div class="container">
    <div class="forms">
        <div class="form login">
            <form action="" method="post" name="signupForm" id="signupForm">
<!--                <img src="" id="signupLogo"/>-->

                <h2 class="formTitle">
                    Login to your account
                </h2>

                <div class="input-field">
                    <label class="inputLabel" for="password">New Password</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="input-field">
                    <label class="inputLabel" for="cpwd">Confirm Password</label>
                    <input type="password" id="cpwd" name="confirmPassword">
                </div>


                <div class="buttonWrapper">
                    <button type="submit" id="submitButton" onclick="validateSignupForm()" class="submitButton pure-button pure-button-primary">
                        <span>Continue</span>
                        <span id="loader"></span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/changepassword.js}"></script>
</body>
</html>