<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta charset="UTF-8">
    <title>History | Page</title>
    <th:block th:include="layout/css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/history.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/util.css}">
</head>
<body>
<!----------------- MENU ------------------->
<th:block th:include="layout/menu"></th:block>
<!----------------- MENU ------------------->
<div class="container">
    <br>
    <center><h3>History</h3></center>
<!--    <h3>User: <span th:text="${username}"></span></h3>-->
    <button type="button" class="btn btn-warning waves-effect waves-float waves-light" th:if="${type} == 'admin'" data-toggle="modal" data-target="#exampleModalLong">
        <span class="btnText">Add Question</span>
        <i class="uil uil-navigator"></i>
    </button>
    <!-- Modal -->'
    <br>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Ransomware Readiness Tutorial</h4>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button> -->
                    <span class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
                        <label class="form-check-label" for="defaultCheck1">Please Check to continue</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary left" onclick="document.location='/assessment'">Yes</button>
                    <button type="button" class="btn btn-primary right" onclick="document.location='/MyAssessments'">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center fw-bold" >Assessment Id</th>
                <th class="text-center fw-bold" >Assessment Topic</th>
                <th class="text-center fw-bold" >Date</th>
                <th class="text-center fw-bold" ></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center fw-bold">1</td>
                <td class="text-center fw-bold">RRA</td>
                <td class="text-center fw-bold">21-Nov-2022</td>
                <td class="text-center fw-bold"><button class="btn btn-warning waves-effect waves-float waves-light">Results</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <!--    <div class="container-table100">-->
<!--        <div class="wrap-table100 center">-->
<!--            <div class="table100 ver1 m-b-110">-->
<!--                <div class="table100-head">-->
<!--                    <table>-->
<!--                        <thead>-->
<!--                        <tr class="row100 head">-->
<!--                            <th class="cell100 column1">Assessment Id</th>-->
<!--                            <th class="cell100 column2">Assessment Topic</th>-->
<!--                            <th class="cell100 column3">Date</th>-->
<!--                            <th class="cell100 column4">Status</th>-->
<!--                            <th class="cell100 column5"></th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div class="table100-body js-pscroll">-->
<!--                    <table>-->
<!--                        <tbody>-->
<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">1</td>-->
<!--                            <td class="cell100 column2">RRA</td>-->
<!--                            <td class="cell100 column3">21-Nov-2022</td>-->
<!--                            <td class="cell100 column4">Succeed</td>-->
<!--                            <td class="cell100 column5"><button class="btn-warning">Results</button></td>-->
<!--                        </tr>-->
<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">1</td>-->
<!--                            <td class="cell100 column2">RRA</td>-->
<!--                            <td class="cell100 column3">21-Nov-2022</td>-->
<!--                            <td class="cell100 column4">Succeed</td>-->
<!--                            <td class="cell100 column5"><button class="btn-warning">Results</button></td>-->
<!--                        </tr>-->
<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">1</td>-->
<!--                            <td class="cell100 column2">RRA</td>-->
<!--                            <td class="cell100 column3">21-Nov-2022</td>-->
<!--                            <td class="cell100 column4">Succeed</td>-->
<!--                            <td class="cell100 column5"><button class="btn-warning">Results</button></td>-->
<!--                        </tr>-->
<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">1</td>-->
<!--                            <td class="cell100 column2">RRA</td>-->
<!--                            <td class="cell100 column3">21-Nov-2022</td>-->
<!--                            <td class="cell100 column4">Succeed</td>-->
<!--                            <td class="cell100 column5"><button class="btn-warning">Results</button></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<th:block th:include="layout/js"></th:block>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var username = /*[[${username}]]*/ '';
    if (!username) {
        alert("Session Expired")
        window.location.href = "/login"
    }
    /*]]>*/
</script>
</body>


</html>


