<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <th:block th:include="layout/css"></th:block>
    <th:block th:include="layout/js"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/landingpage.css}">

    <th:block th:include="layout/menu"></th:block>
</head>
<body>
<div class="container">
    <section id="accordion">
        <div class="row">
            <div class="col-sm-12">
                <div id="accordionWrapa" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Ransomware Readiness Assessment</h3>
                        </div>
                        <div class="card-body">
                                <button type="button" class="btn" style="padding: 14px 22px; font-size:16px"
                                onclick="document.location='/assessment'">Ransomware Assessment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>