<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <th:block th:include="layout/css"></th:block>
    <th:block th:include="layout/js"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/landingpage.css}">

    <th:block th:include="layout/menu"></th:block>
</head>
<body>
<div class="container">

        <h1>Landing Page | Home</h1>
        <button class="btn-primary" onclick="document.location='/assessment'"> Ransomware Readiness Assessment </button>

</div>

</body>
</html>