<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta charset="UTF-8">
    <title>MyAssessment</title>
    <th:block th:include="layout/css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/MyAssessments.css}">
    <th:block th:include="layout/js"></th:block>
  </head>
<body>
<!----------------- MENU ------------------->
<th:block th:include="layout/menu"></th:block>
<!----------------- MENU ------------------->
<p></p>
<div class="container">
  <br>
  <h2>My Assessments</h2>
  <h3>User: <span th:text="${username}"></span></h3>
  <!--<input type="submit" value="New Assessments">-->
  <button class="btn btn-primary" onclick="document.location='/assessment_configuration'">New Assessments</button>
<!--  <button class="btn btn-primary" th:if="${type} == 'admin'" >Add Question</button>-->
  <button type="button" class="btn btn-primary" th:if="${type} == 'admin'" data-toggle="modal" data-target="#exampleModalLong">
    <span class="btnText">Add Question</span>
    <i class="uil uil-navigator"></i>
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle">Ransomware Readiness Tutorial</h4>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button> -->
          <span class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body">
          <div class="panel-body">
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
            <label class="form-check-label" for="defaultCheck1">Please Check to continue</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary left" onclick="document.location='/assessment'">Yes</button>
          <button type="button" class="btn btn-primary right" onclick="document.location='/MyAssessments'">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>
<div class="container">
  <table>
    <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
      <td>Cell 4</td>
      <td>Cell 5</td>
    </tr>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
      <td>Cell 4</td>
      <td>Cell 5</td>
    </tr>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
      <td>Cell 4</td>
      <td>Cell 5</td>
    </tr>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
      <td>Cell 4</td>
      <td>Cell 5</td>
    </tr>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
      <td>Cell 4</td>
      <td>Cell 5</td>
    </tr>
    </tbody>
  </table>
</div>

<p></p>
</body>


</html>


