<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="loading" lang="en" data-textdirection="ltr">
<style>
    body {
        background: #eee;
    }

    .bgWhite {
        background: white;
        box-shadow: 0px 3px 6px 0px #cacaca;
    }

    .title {
        font-weight: 600;
        margin-top: 20px;
        font-size: 24px
    }

    .customBtn {
        border-radius: 0px;
        padding: 10px;
    }

    .otp {
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
    }
</style>
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <th:block th:include="layout/js"></th:block>
    <th:block th:include="layout/css"></th:block>
</head>

<body>
<div class="container">
    <form class="needs-validation" id="new-user-form" novalidate th:object="${newUser}">
    <input type="hidden" th:field="*{userId}">
        <div class="title">Registration</div>
            <div class="content">
              <div class="user-details">
                <div class="input-box">
                    <label class="form-label" th:for="*{firstName}">First Name:</label>
                    <input type="text" class="form-control" placeholder="Enter First Name" name="fname"
                           th:field="*{firstName}">
                </div>
                <div class="input-box">
                    <label class="form-label" th:for="*{lastName}">Last Name:</label>
                    <input type="text" class="form-control" placeholder="Enter Last Name" name="lname"
                           th:field="*{lastName}">
                </div>
                  <div class="input-box">
                      <label class="form-label" th:for="*{companyName}">Company:</label>
                      <input type="text" class="form-control" placeholder="Enter Company" name="company"
                             th:field="*{companyName}">
                  </div>
                  <div class="input-box">
                      <label class="form-label" th:for="*{tel}">Phone Number:</label>
                      <input type="text" class="form-control" placeholder="Enter Phone Number" name="tel"
                             th:field="*{tel}">
                  </div>
                <div class="input-box">
                    <label class="form-label" th:for="*{email}">E-mail:</label>
                    <input type="text" class="form-control" placeholder="Enter E-mail" name="email"
                           th:field="*{email}">
                </div>
                  <div class="input-box">
                      <label class="form-label" th:for="*{username}">Username:</label>
                      <input type="text" class="form-control" placeholder="Enter Username" name="username"
                             th:field="*{username}">
               </div>
                <div class="input-box">
                    <label class="form-label" th:for="*{password}">Password:</label>
                    <input type="password" class="form-control" placeholder="Enter password" name="pwd"
                           th:field="*{password}">
                </div>
                <div class="input-box">
                    <label for="cpwd">Confirm Password:</label>
                    <input type="password" class="form-control" id="cpwd" placeholder="Enter Confirm Password" name="cpwd">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
            </div>
        </form>
    </div>
<!--        <form class="pure-form">-->
<!--            <fieldset>-->
<!--                <input type="password" placeholder="Password" id="password" required>-->
<!--                <input type="password" placeholder="Confirm Password" id="confirm_password" required>-->
<!--                <button type="submit" class="pure-button pure-button-primary">Confirm</button>-->
<!--            </fieldset>-->
<!--        </form>-->
<!--        -->
        <!--        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"-->
        <!--             aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
        <!--            <div class="modal-dialog modal-sm">-->
        <!--                <div class="modal-content">-->
        <!--                    <div class="row justify-content-md-center">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-sm-12 mt-5 bgWhite center">-->
        <!--                                <div class="title">-->
        <!--                                    Verify OTP-->
        <!--                                </div>-->
        <!--                                <br>-->
        <!--                                <form action="" class='mt-5' >-->
        <!--                                    <center>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(1)' maxlength=1>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(2)' maxlength=1>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(3)' maxlength=1>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(4)' maxlength=1>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(5)' maxlength=1>-->
        <!--                                    </center>-->

        <!--                                </form>-->
        <!--                                <hr class="mt-4">-->
        <!--                                <button class='btn btn-primary btn-block mt-4 mb-4 customBtn'>Verify</button>-->
        <!--                                <br>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
<br>
<script>
    $('#new-user-form').on('submit', function (e) {
        e.preventDefault();

        var objectRegister = {
            "username": $('#username').val(),
            "password": $('#password').val(),
            "firstName": $('#firstName').val(),
            "lastName": $('#lastName').val() ,
            "email": $('#email').val() ,
            "tel": $('#tel').val() ,
            "companyName": $('#companyName').val(),
            "status": "active",
        }
        $.ajax({
            type: 'POST',
            async: false,
            dataType: 'text',
            data: JSON.stringify(objectRegister),
            contentType: 'application/json; charset=utf-8',
            url: '/apis/user/save',
            success: function (data, textStatus) {
                console.log("data -> ", data)
            },
            error: function (xhr, textStatus, errorThrown) {
                var response = JSON.parse(xhr.responseText);
                console.log("response -> ", response)
            }
        });
    });

    var password = document.getElementById("password")
        , confirm_password = document.getElementById("cpwd");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script>

</body>

</html>