<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="loading" lang="en" data-textdirection="ltr">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--    <th:block th:include="layout/css"></th:block>-->
    <th:block th:include="layout/js"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/Styleregister.css}">
</head>
<body>
<div class="container">
    <div class="title">Registration</div>
    <div class="content">
        <form class="needs-validation" id="new-user-form" novalidate th:object="${newUser}">
            <input type="hidden" th:field="*{userId}">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter First Name" name="fname"
                            th:field="*{firstName}" required />
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text"  placeholder="Enter Last Name" name="lname"
                            th:field="*{lastName}" required />
                </div>
                <div class="input-box">
                    <span class="details">Facility Name</span>
                    <input type="text" placeholder="Facility Name" name="company"
                            th:field="*{companyName}" required />
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter Phone Number" name="tel"
                            th:field="*{tel}" required />
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter E-mail" name="email"
                            th:field="*{email}" required />
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter Username" name="username"
                            th:field="*{username}" required />
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter password" name="pwd"
                            th:field="*{password}" required />
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" id="cpwd" placeholder="Enter Confirm Password" name="cpwd" required />
                </div>
            </div>
            <div class="button">
                <input type="submit" id="save-user" onclick="document.location='/login'"/>
            </div>
            <div class="login-signup">
                    <span class="text">You Have Account ? Please
                        <a href="/login" class="text signup-link">Login Now</a>
                    </span>
            </div>
        </form>
    </div>
</div>
<!--        <form class="pure-form">-->
<!--            <fieldset>-->
<!--                <input type="password" placeholder="Password" id="password" required>-->
<!--                <input type="password" placeholder="Confirm Password" id="confirm_password" required>-->
<!--                <button type="submit" class="pure-button pure-button-primary">Confirm</button>-->
<!--            </fieldset>-->
<!--        </form>-->
<!--        -->
        <!--        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"-->
        <!--             aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
        <!--            <div class="modal-dialog modal-sm">-->
        <!--                <div class="modal-content">-->
        <!--                    <div class="row justify-content-md-center">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-sm-12 mt-5 bgWhite center">-->
        <!--                                <div class="title">-->
        <!--                                    Verify OTP-->
        <!--                                </div>-->
        <!--                                <br>-->
        <!--                                <form action="" class='mt-5' >-->
        <!--                                    <center>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(1)' maxlength=1>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(2)' maxlength=1>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(3)' maxlength=1>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(4)' maxlength=1>-->
        <!--                                        <input class="otp" type="text" oninput='digitValidate(this)'-->
        <!--                                               onkeyup='tabChange(5)' maxlength=1>-->
        <!--                                    </center>-->

        <!--                                </form>-->
        <!--                                <hr class="mt-4">-->
        <!--                                <button class='btn btn-primary btn-block mt-4 mb-4 customBtn'>Verify</button>-->
        <!--                                <br>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
<script th:src="@{/js/register.js}"></script>
</body>

</html>